<%= javascript_include_tag :fckeditor %>
<% form_for(@article, :url=>admin_article_path(@article)) do |f| %>
  <%= f.label :title,'长标题' %>
  <%= f.text_field :title %>
  <br/>
  <br/>
  <%= f.label :short_title,'短标题' %>
  <%= f.text_field :short_title %>
  <br/>
  <br/>
  <%= f.label :category_id,'主类别' %>
  <%= f.select :category_id,Category.all.collect {|c| [ c.name, c.id ] } %>
  <%= f.label :sub_category_id,'子类别' %>
  <%= f.select :sub_category_id,SubCategory.all.collect {|sc| [ sc.name, sc.id ] } %>
  <br/>
  <br/>
  <%= f.label :is_publised,'是否发布' %>
  <%= f.check_box :is_publised %>
  <br/>
  <br/>
  <%= fckeditor_textarea("article", "content",  :width => '100%', :height => '500px') %>
  <br/>
  <br/>
  <%= f.label :remark,'备注:' %>
  <br/>
  <%= f.text_area :remark,:rows=>3,:style=>'width:100%' %>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>
