<div class="box">
  <table class="table border">
    <caption>查询结果</caption>
    <tbody>
      <tr>
        <th width="100px">id</th>
        <th>标题</th>
        <th>短标题</th>
        <th width="100px">用户</th>
        <th width="100px">创建时间</th>
        <th width="100px">操作</th>
      </tr>
      <% @articles.each do |article| -%>
      <tr class="<%= cycle('','tr3') %>">
        <td><%= link_to article.id, admin_article_path(article) %></td>
        <td><%= article.title %></td>
        <td><%= article.short_title %></td>
        <td><%= 'lrc' %></td>
        <%#*article.user.login%>
        <td><%= article.created_at.strftime("%Y-%m-%d") %></td>
        <td width="100px">
        <%= link_to '修改',edit_admin_article_path(article),:class=>"btt bttb" %>
        <%= link_to '删除',admin_article_path(article),:confim=>'确定',:method=>'destroy',:class=>"btt" %>
        </td>
      </tr>
      <% end -%>
    </tbody>
  </table>
  <%= will_paginate @articles %>
</div>