<% form_for(@user, :url=>admin_user_path(@user)) do |f| %>
  <div class="line">
    <%= f.label :login,'登录名' %>
    <%= f.text_field :login, :readonly=>'readonly' %>
  </div>
  <div class="line">
    <%= f.label :email,'Email' %>
    <%= f.text_field :email, :readonly=>'readonly' %>
  </div>
  <div class="line">
    <%= f.label :name,'名字' %>
    <%= f.text_field :name %>
  </div>
  <% if false %>
    <div class="line">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    <div class="line">
      <%= f.label :password_confirmation, 'Confirm Password' %>
      <%= f.password_field :password_confirmation %>
    </div>
  <% end %>
  <div class="line">
    <% Role.all.each do |role| -%>
      <%=  check_box_tag('user[roles_ids][]',role.id,@user.roles.include?(role)) %><%= role.name %>
    <% end -%>
  </div>
  <div class="line">
    <p>
      <%= f.submit 'Create' %>
    </p>
  </div>
<% end %>
